.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 80%;
  margin: 0 auto;
  gap: 18px;
}

.icon {
  width: auto;
  height: 100%;
  max-height: 70px;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.icon:hover {
  transform: scale(1.04);
}
