@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400');
@import url('https://fonts.googleapis.com/css?family=Roboto:100');

@mixin button($bcolor,
  $url,
  $x1,
  $y1,
  $bor,
  $col) {
  background: $bcolor;
  -webkit-mask: url($url);
  mask: url($url);
  -webkit-mask-size: $x1 $y1;
  mask-size: $x1 $y1;
  border: $bor;
  color: $col;
}

.buttonEffect {
  position: absolute;
  bottom: 20px;
  right: 20px;

  width: 160px;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6vh;
  overflow: hidden;
  border-radius: 32px;
  border: 1px solid;
  border-color: #4F2783;
  font-weight: bold;
  font-size: 22px;
  transition: 0.5s;
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;

  button {
    width: 101%;
    height: 100%;
    font-weight: bold;
    font-size: 22px;
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;

    @include button(#4F2783,
      "https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/nature-sprite.png",
      2300%,
      100%,
      none,
      #fff);
    cursor: pointer;
    -webkit-animation: ani2 0.7s steps(22) forwards;
    animation: ani2 0.7s steps(22) forwards;

    &:hover {
      -webkit-animation: ani 0.7s steps(22) forwards;
      animation: ani 0.7s steps(22) forwards;
    }
  }
}

.buttonEffect:active {
  border-color: #512775;
  transform: scale(0.99);
}

.mas {
  position: absolute;
  color: #d6c8c8;
  text-align: center;
  width: 101%;
  font-weight: bold;
  font-size: 22px;
  margin-top: 16px;
  overflow: hidden;
  font-family: 'Lato', sans-serif;
}

@-webkit-keyframes ani {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }

  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}

@keyframes ani {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }

  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}

@-webkit-keyframes ani2 {
  from {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }

  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
}

@keyframes ani2 {
  from {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }

  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
}