.project-cards-section {
    width: 100%;
    margin-top: 90px;
    padding: 50px 0;
}


@media (max-width: 700px) {
    .project-cards-section {
        margin-top: 120px;
    }
}

.project-cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    width: 90%;
    margin: 0 auto;
}


.btn-see-more {
    margin-top: 30px;
    background-color: #851805ee;
    color: #ffffff;
    border: none;
    padding: 10px 30px;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 1.2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: all 0.3s ease-in-out;
    border-radius: 10px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 100;
}

.btn-see-more:hover {
    background-color: #841b17;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.btn-see-more:active {
    transform: scale(0.98);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}
